.header {
  height: 46.875rem;
  background-image: linear-gradient(to right bottom, $primary, $primaryDarker);
  z-index: -10;

  &.open {
    .overlay {
      // display: block;
    }
  }

  &__navigation {
    padding-top: 1.71875rem;
    padding-bottom: 1.71875rem;
  }

  &__links {
  }

  &__logo {
    height: 1.3125rem;

    @include breakpoint-down(medium) {
    }
  }

  &__menu {
    display: inline-block;
    margin-right: 1.6875rem;

    a {
      position: relative;

      &::after {
        content: '';
        height: 2px;
        width: 40px;
        position: absolute;
        left: 50%;
        bottom: -50%;
        transform: translateX(-50%);
        background-color: $lightGray;
        border-radius: 50px;
        animation: step-out 0.5s forwards;
      }

      &:not(:last-child) {
        margin-right: 2.25rem;
      }
      &:hover {
        color: $lightGray;
        &::after {
          animation: step-in 0.5s forwards;
        }
      }
    }
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    margin-top: 10rem;

    a {
      flex-shrink: 1;
      width: 70px;
      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:first-child {
        border: 0.0625rem solid $white;
        &:hover {
          background-color: rgba($white, 0.1);
        }
      }
      &:last-child {
        background-color: $lightBlue;
      }
    }
  }

  &__hamburger-menu {
    > span {
      display: block;
      height: 0.3125rem;
      width: 2.1875rem;
      background-color: $white;
      border-radius: 3.125rem;

      &:not(:last-child) {
        margin-bottom: 0.4375rem;
      }
    }
  }

  &__mobile-menu {
    position: fixed;
    top: 5.25rem;
    width: 100vw;
    bottom: 0;
    right: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $whiteBackground;
    z-index: 20;
    a {
      color: $lightBlack;
      display: block;
      height: 50px;
      width: 100%;
      text-align: center;
      padding-top: 0.9375rem;
    }
  }
}
