.location {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.125rem;
  }

  &__text {
    text-align: center;
    line-height: 1.8;
    max-width: 18ch;
  }

  &__map {
    height: 30rem;
    max-width: 70.25rem;
    border-radius: 4.375rem;
    overflow: hidden;
  }
}
