.testemonial {
  &__title {
    text-align: center;
  }

  &__slider {
    // display: flex;
    // flex-wrap: nowrap;
    overflow: hidden;
  }

  &__slide {
    height: 11.875rem;
    width: 35rem;
    border-radius: 0.625rem;
    background-color: greenyellow;
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
}
