//COLORS
$primary: #49535f;
$primaryDarker: #273343;
$lightBlue: #59a4f7;
$heavyBlue: #3b92f5;
$white: #ffffff;
$black: #000000;
$lightBlack: hsl(240, 4%, 11%);
$whiteBackground: #f8f8f8;
$lightGray: #edf4fc;
$gray: #648395;
$blueInative: #cce2ee;

//FONT SIZES
$fontMedium: 1.125rem; // 18px
$fontSmall: 0.875rem; // 14px
$fontLarge: 1.375rem; // 22px
$fontMediumLarge: 2.3125rem; // 37px
$fontExtraLarge: 3.125rem; // 54px
