.works {
  &__image {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 43rem;
      width: 26.875rem;
      border: 1px solid black;
      border-top-left-radius: 7.125rem;
      border-bottom-right-radius: 7.125rem;
      right: 1.625rem;
      top: -1.8125rem;
    }
    &::after {
      content: '';
      position: absolute;
      height: 43rem;
      width: 26.875rem;
      right: 0;
      top: 0;
      background-image: url('/img/option-1.jpg');
      background-position: 75%;
      border-top-left-radius: 7.125rem;
      border-bottom-right-radius: 7.125rem;
    }
  }
  &__text {
    p {
      max-width: 26ch;
    }
  }

  &__process {
  }
  &__process-step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28.125rem;
    height: 8.75rem;
    background-color: $white;
    border-radius: 0.625rem;
    padding: 1.5625rem;
    box-shadow: 1px 1px 5px 10px rgba($color: #000000, $alpha: 0.001);

    &:not(:last-of-type) {
      margin-bottom: 1.375rem;
    }

    & div {
      font-weight: 700;
    }
  }
}
