*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.container {
  max-width: 74.25rem;
  margin: 0 auto;
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--py {
  padding-top: 11.5625rem;
  padding-bottom: 3.5rem;
}
.container--pt {
  padding-top: 11.5625rem;
}
.container--pb {
  padding-bottom: 3.5rem;
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pall {
  padding: 11.5625rem 1.5rem 3.5rem 1.5rem;
}

h1,
h2 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.25rem;
  max-width: 15ch;
  line-height: 1.3;
}

h2 {
  font-size: 1rem;
}

.section-description {
  font-size: 2.3125rem;
  color: #1b1b1d;
  font-weight: 700;
  margin-bottom: 2.875rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
}

.flex {
  display: flex;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-s {
  align-items: flex-start;
}
.flex-fd-c {
  flex-direction: column;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none !important;
  }
}

.noscroll {
  overflow-y: hidden;
}

@-webkit-keyframes step-in {
  from {
    height: 2px;
    transform-origin: left;
    transform: translateX(-50%) scaleX(0);
  }
  to {
    height: 2px;
    transform-origin: left;
    transform: translateX(-50%) scaleX(1);
  }
}

@keyframes step-in {
  from {
    height: 2px;
    transform-origin: left;
    transform: translateX(-50%) scaleX(0);
  }
  to {
    height: 2px;
    transform-origin: left;
    transform: translateX(-50%) scaleX(1);
  }
}
@-webkit-keyframes step-out {
  from {
    transform-origin: right;
    transform: translateX(-50%) scaleX(1);
  }
  to {
    transform-origin: right;
    transform: translateX(-50%) scaleX(0);
  }
}
@keyframes step-out {
  from {
    transform-origin: right;
    transform: translateX(-50%) scaleX(1);
  }
  to {
    transform-origin: right;
    transform: translateX(-50%) scaleX(0);
  }
}
@-webkit-keyframes down-up {
  from {
    transform: translateY(1000px);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateY(0);
  }
}
@keyframes down-up {
  from {
    transform: translateY(1000px);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1000px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1000px);
    opacity: 0;
    visibility: hidden;
  }
}
.animate-in {
  -webkit-animation: down-up 0.3s forwards;
          animation: down-up 0.3s forwards;
}

.animate-out {
  -webkit-animation: up-down 0.3s forwards;
          animation: up-down 0.3s forwards;
}

.header {
  height: 46.875rem;
  background-image: linear-gradient(to right bottom, #49535f, #273343);
  z-index: -10;
}
.header__navigation {
  padding-top: 1.71875rem;
  padding-bottom: 1.71875rem;
}
.header__logo {
  height: 1.3125rem;
}
.header__menu {
  display: inline-block;
  margin-right: 1.6875rem;
}
.header__menu a {
  position: relative;
}
.header__menu a::after {
  content: "";
  height: 2px;
  width: 40px;
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translateX(-50%);
  background-color: #edf4fc;
  border-radius: 50px;
  -webkit-animation: step-out 0.5s forwards;
          animation: step-out 0.5s forwards;
}
.header__menu a:not(:last-child) {
  margin-right: 2.25rem;
}
.header__menu a:hover {
  color: #edf4fc;
}
.header__menu a:hover::after {
  -webkit-animation: step-in 0.5s forwards;
          animation: step-in 0.5s forwards;
}
.header__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  margin-top: 10rem;
}
.header__buttons a {
  flex-shrink: 1;
  width: 70px;
}
.header__buttons a:not(:last-child) {
  margin-right: 1rem;
}
.header__buttons a:first-child {
  border: 0.0625rem solid #ffffff;
}
.header__buttons a:first-child:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header__buttons a:last-child {
  background-color: #59a4f7;
}
.header__hamburger-menu > span {
  display: block;
  height: 0.3125rem;
  width: 2.1875rem;
  background-color: #ffffff;
  border-radius: 3.125rem;
}
.header__hamburger-menu > span:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.header__mobile-menu {
  position: fixed;
  top: 5.25rem;
  width: 100vw;
  bottom: 0;
  right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8f8f8;
  z-index: 20;
}
.header__mobile-menu a {
  color: #1b1b1d;
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 0.9375rem;
}

.hero__image {
  position: relative;
}
.hero__image::before {
  content: "";
  position: absolute;
  height: 41.875rem;
  width: 38.75rem;
  top: -7rem;
  right: -9.2%;
  background-image: url("../../img/main.jpg");
  background-size: cover;
  background-position: center 40%;
  border-top-left-radius: 15rem;
  border-bottom-left-radius: 2.625rem;
  border-bottom-right-radius: 2.625rem;
}
.hero__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.75rem;
  color: #ffffff;
}
.hero__text p {
  max-width: 38ch;
  line-height: 2;
}
.hero__search {
  z-index: 2;
  width: 51.875rem;
  height: 7rem;
  border-radius: 2rem;
  background-color: #ffffff;
  color: #1b1b1d;
  padding: 1.375rem;
  justify-content: space-between;
  align-items: center;
}
.hero .search__option label {
  display: block;
  font-size: 1.375rem;
  margin-bottom: 1rem;
}
.hero .search__option select,
.hero .search__option select:focus {
  display: block;
  border: none;
  font-size: 0.875rem;
  opacity: 0.9;
}
.hero__button {
  width: 155px;
  height: 76px;
  border: none;
  padding: 0;
  background-color: #59a4f7;
  font-family: inherit !important;
  color: #ffffff;
  font-size: 1.125rem;
}

.professionalism__text {
  text-align: center;
}
.professionalism__reasons {
  width: inherit;
}
.professionalism__reasons-item {
  height: 11.5rem;
  width: 19.875rem;
  padding: 1.375rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 10px rgba(0, 0, 0, 0.001);
}
.professionalism__reasons-item:not(:last-child) {
  margin-right: 1.4375rem;
}
.professionalism__reasons-item div:first-of-type {
  height: 3.125rem;
  width: 3.125rem;
  background-color: #edf4fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.professionalism__reasons-item div:nth-child(2) {
  font-weight: 600;
}
.professionalism__reasons-item div:last-child {
  font-size: 0.875rem;
  max-width: 28ch;
}

.works__image {
  position: relative;
}
.works__image::before {
  content: "";
  position: absolute;
  height: 43rem;
  width: 26.875rem;
  border: 1px solid black;
  border-top-left-radius: 7.125rem;
  border-bottom-right-radius: 7.125rem;
  right: 1.625rem;
  top: -1.8125rem;
}
.works__image::after {
  content: "";
  position: absolute;
  height: 43rem;
  width: 26.875rem;
  right: 0;
  top: 0;
  background-image: url("../../img/option-1.jpg");
  background-position: 75%;
  border-top-left-radius: 7.125rem;
  border-bottom-right-radius: 7.125rem;
}
.works__text p {
  max-width: 26ch;
}
.works__process-step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28.125rem;
  height: 8.75rem;
  background-color: #ffffff;
  border-radius: 0.625rem;
  padding: 1.5625rem;
  box-shadow: 1px 1px 5px 10px rgba(0, 0, 0, 0.001);
}
.works__process-step:not(:last-of-type) {
  margin-bottom: 1.375rem;
}
.works__process-step div {
  font-weight: 700;
}

.feature__text {
  position: relative;
}
.feature__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(50%);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 0;
}
.feature__slide-container {
  display: flex;
}
.feature__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32.6875rem;
  width: 22.25rem;
  padding: 1.625rem 1.5rem;
  border-radius: 1.625rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 10px rgba(0, 0, 0, 0.001);
  transition: all 0.2s;
}
.feature__slide:not(:last-child) {
  margin-right: 1.875rem;
}
.feature__slide:hover {
  transform: scale(1.02);
}
.feature__image {
  height: 22.25rem;
  width: 19.5rem;
  border-radius: 1.4375rem;
  background-position: 65% center;
  background-size: 205%;
  background-repeat: no-repeat;
}
.feature__title {
  font-weight: 500;
  color: #000000;
  font-size: 1.125rem;
}
.feature__location {
  color: #1b1b1d;
}
.feature__price {
  color: #648395;
  font-size: 1.125rem;
}
.feature__price span {
  font-size: 0.875rem;
  color: #49535f;
}

.location__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.125rem;
}
.location__text {
  text-align: center;
  line-height: 1.8;
  max-width: 18ch;
}
.location__map {
  height: 30rem;
  max-width: 70.25rem;
  border-radius: 4.375rem;
  overflow: hidden;
}

.testemonial {
  padding-top: 90px;
}
.testemonial__title {
  text-align: center;
}
.testemonial__slider {
  position: relative;
  height: 15.625rem;
  width: 100%;
  overflow: hidden;
}
.testemonial__slide {
  text-align: center;
  position: absolute;
  width: 100%;
  justify-content: center;
  transition: all 0.5s;
}
.testemonial__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 35rem;
  border-radius: 0.625rem;
  padding: 1rem 0;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 10px rgba(0, 0, 0, 0.001);
}
.testemonial__card:not(:last-child) {
  margin-right: 1.25rem;
}
.testemonial__image {
  height: 3.4375rem;
  width: 3.4375rem;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 0.5rem;
}
.testemonial__name {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.testemonial__star img {
  height: 1rem;
  width: 1rem;
}
.testemonial__text {
  font-size: 0.875rem;
  max-width: 42ch;
  text-align: center;
  line-height: 2;
}
.testemonial__dots-container {
  margin-bottom: 2.8125rem;
}
.testemonial__dots {
  display: inline-block;
  height: 0.3125rem;
  width: 1.5625rem;
  border-radius: 3.125rem;
  background-color: #cce2ee;
  cursor: pointer;
}
.testemonial__dots:not(:last-child) {
  margin-right: 0.625rem;
}
.testemonial__dots.active {
  background-color: #648395;
}
.testemonial__btn-review {
  font-family: inherit;
  padding: 0.9375rem 1.125rem;
  border: 0.0625rem solid #648395;
}
.testemonial__btn-review:hover {
  background-color: #cce2ee !important;
}

.footer {
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 2.5rem;
}
.footer .container {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-areas: "title col1 col2 col3" "copy copy copy copy";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 3rem;
}
.footer a {
  color: #1b1b1d;
}
.footer__logo {
  height: 1.3125rem;
  margin-bottom: 1rem;
}
.footer__title {
  grid-area: title;
}
.footer__description {
  max-width: 46ch;
  line-height: 2;
}
.footer__links div {
  font-weight: 600;
}
.footer__links a {
  display: block;
  margin-top: 1.5rem;
}
.footer__links.col-1 {
  grid-area: col1;
}
.footer__links.col-2 {
  grid-area: col2;
}
.footer__links.col-3 {
  grid-area: col3;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  grid-area: copy;
}/*# sourceMappingURL=style.css.map */